/.vscode
/board.ilk
/*.obj
/board.pdb
/main.exe
/main.ilk
/main.pdb
/vc140.pdb
/assetmanager.obj
States/assetmanager.obj
States/board.obj
States/game.obj
States/gameoverstate.obj
States/gamestate.obj
States/location.obj
States/main.obj
States/mainscreenstate.obj
States/pausestate.obj
States/statemachine.obj
States/tetromino.obj
States/vc140.pdb
States/board.obj
States/game.obj
States/gameoverstate.obj
States/gamestate.obj
States/location.obj
States/main.obj
States/mainscreenstate.obj
States/pausestate.obj
States/statemachine.obj
States/tetromino.obj
Scenes/assetmanager.obj
Scenes/board.obj
Scenes/game.obj
Scenes/gameoverstate.obj
Scenes/gamestate.obj
Scenes/location.obj
Scenes/main.obj
Scenes/mainscreenstate.obj
Scenes/pausestate.obj
Scenes/statemachine.obj
Scenes/tetromino.obj
Scenes/vc140.pdb
Scenes/board.obj
Scenes/game.obj
Scenes/gameoverstate.obj
Scenes/gamestate.obj
Scenes/location.obj
Scenes/main.obj
Scenes/mainscreenstate.obj
Scenes/pausestate.obj
Scenes/statemachine.obj
Scenes/tetromino.obj
