/.vscode
/board.ilk
/*.obj
/board.pdb
/main.exe
/main.ilk
/main.pdb
/vc140.pdb
/assetmanager.obj
States/assetmanager.obj
States/board.obj
States/game.obj
States/gameoverstate.obj
States/gamestate.obj
States/location.obj
States/main.obj
States/mainscreenstate.obj
States/pausestate.obj
States/statemachine.obj
States/tetromino.obj
States/vc140.pdb
States/board.obj
States/game.obj
States/gameoverstate.obj
States/gamestate.obj
States/location.obj
States/main.obj
States/mainscreenstate.obj
States/pausestate.obj
States/statemachine.obj
States/tetromino.obj
